//- home.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom
        //- 덜 못생기게 만들어주는 요소
        link(rel="stylesheet", href="https://unpkg.com/mvp.css") 
    body 
        header
            h1 Noom
            div#login_id
            div#room_name
        main
            div#login   
                h2 LOGIN ***********************
                //login_form 사용
                form
                    input(placeholder="login id", required, type="text", value = "1")
                    button#btn_login Login 
                ul
                // ID, 패스워드 입력해서 로그인...
                // NickName
                
            div#lobby
                h2 LOBBY ***********************
                //룸리스트
                div
                    h5 RoomList__________________
                    ul#RoomList
                
                //로비채팅글
                div
                    h5 lobbybox__________________
                    ul#lobbybox
                form
                    input(placeholder="로비 채팅글을 입력하세요...", required, type="text")
                    button#btn_LobbySend Send 
                //방만들기버튼
                button#btn_create btn_create
                _
                //로그아웃버튼
                button#btn_logout btn_logout
                // 로비화면 방리스트 표시 및 입장, 방만들기, 로그인 화면으로

            div#room 
                h2 ROOM ***********************
                div
                    h5 chatbox__________________
                    ul#chatbox
                //form#name
                //    input(placeholder="nickname", required, type="text")
                //    button Save
                form#msg
                    input(placeholder="게임룸 채팅글을 입력하세요...", required, type="text")
                    button Send
                // 채팅룸입장 방이름, 참여자목록
                button#btn_leave Leave

        //- 프론트엔드에 웹소켓 설치
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js")

